body {
background: url("elegancko.jpg");
background-size: 100%;
font-family: 'Roboto Mono', monospace;
color: #FFFFFF



}
article, header, footer, aside, nav{
background: rgba(255, 255, 255, 0.6);
}
 
